<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Generate Description -->
  {% if page.description %}
    {% assign description = page.description %}
  {% else %}
    {% assign description = site.description %}
  {% endif %}

  <!-- Generate Title -->
  {% if page.title == "Home" %}
  	{% capture title %}{{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}{% endcapture %}
  {% else %}
  	{% capture title %}{{ page.title }} &middot; {{ site.title }}{% endcapture %}
  {% endif %}

  <!-- Generate Image -->
 <!--  {% if page.image %}
  	{% assign image = site.description %}
  {% endif %} -->

  {% assign image = "http://hassannadeem.com/public/favicon-200x200.png" %}

  <!-- Open Graph Tags -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{site.title}}" />
  <meta property="og:url" content="{{site.url}}{{page.url}}" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:image" content="{{image}}" />

  <!-- Twitter Cards Tags -->
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:url" content="{{site.url}}{{page.url}}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@MHassanNadeem" />
  <meta name="twitter:creator" content="@MHassanNadeem">
  <meta name="twitter:description" content="{{description}}" />
  <meta name="twitter:image" content="{{image}}" />
  
  <!-- Google/Schema.org Cards Tags -->
  <meta itemprop="name" content="{{title}}">
  <meta itemprop="description" content="{{description}}">
  <meta itemprop="image" content="{{image}}">

  <meta name="description" content="{{description}}">

  {% if site.author %}
    <meta name="author" content="{{site.author.name}}">
  {% endif %}

  <link rel="canonical" href="{{site.url}}{{page.url}}">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{{title}}</title>

  <!-- CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}/public/css/styles.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/favicon.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
</head>
