<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
     {% assign url = page.url|remove:'index.html' %}
     {% for link in site.navigation %}
       {% capture pageurl %}{{link.url}}{{"index.html"}}{% endcapture %}
          <a class="sidebar-nav-item{% if url == link.url %} active{% endif %}" href="{{ link.url }}">{{ link.text }}</a>
     {% endfor %}


      <span class="sidebar-nav-item">Hassan Nadeem</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
